.Rproj.user
.Rhistory
.RData
.Ruserdata

*_files/
*_files/*
*images/
skills/RLadiesParis/
skills/test/
web/_book/

*.css
*.doc*
*.html
*.js
*.json
*OLD
*.pdf
*.png
*.xl*


skills/howto_understandresearch/RLadiesParis.qmd
