.Rproj.user
.Rhistory
.RData
.Ruserdata

*_files/
*images/
.quarto/
skills/RLadiesParis/
skills/test/
web/_book/

*.css
*.doc*
*.html
*.js
*.json
*.mp4
*OLD
*.pdf
*.png
*.rar
*.xl*
*.zip


skills/howto_understandresearch/RLadiesParis.qmd
